body {
    /* Based on http://all-free-download.com/free-vector/vector-logo/camel_logo_28262.html */
    background-image: url("/Spitter/static/img/camel_backgroung.png");
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FF8700;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.header {
    padding: 10px;
    text-align: center;
}

.header h1 {
    display: inline;
    vertical-align: top;
}

.login {
    background-color: #9BCDFF;
    border-radius: 20px;
    float: right;
    margin-right: 30px;
    margin-top: 25px;
    padding: 5px 10px 20px 10px;
    width: 225px;
}

.login h2 {
    text-align: center;
}

.form-login span {
    display: block;
    margin-bottom: 5px;
}

.new-account {
    background-color: #FFFFFF;
    border-radius: 20px;
    text-align: center;
}

.new-account h3 {
    margin-bottom: 0;
}

.new-account p {
    margin-bottom: 3px;
    margin-top: 0;
}


.content {
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 300px;
    padding: 10px;
    padding-bottom: 20px; /* Height of the footer element */
}

.spittleList {
    border: 2px solid #000000;
    border-radius: 20px;
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
    padding: 15px 20px 10px;
}

.spittleItem {
    height: 70px;
}

.spittleItem:first-child {
    margin-top: 10px;
}

.spittleSpitterImage {
    float: left;
    margin-right: 10px;
}

.spittleWhen {
    font-size: x-small;
}

.spittleListText {
    display: block;
}


.footer {
    font-size: x-small;
    text-align: center;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}